.container {
  margin-top: 2rem;
  justify-content: center;
  width: 100%;
}
.container-title {
  font-size: 28px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.container-emoji {
  margin: 0 10px;
}
