.desserts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: unset;
  padding: unset;
  justify-content: center;
}
.dessert {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  list-style: none;
  margin: 1rem;
  border-radius: 2px;
  background-color: #f2d17773;
  width: 260px;
}

.dessert-image {
  width: 200px;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  position: relative;
  left: 16px;
  top: 6px;
}

.dessert-information {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.dessert-information__title {
  font-size: 21px;
  font-weight: 600;
  margin: 1rem 0;
}

.dessert-information__rate {
  font-size: 18px;
  font-weight: 500;
}

.dessert-information__votes {
  margin-top: 15px;
}

i {
  padding-right: 10px;
  font-size: 22px;
}
